.dhaa {
	text-align: center;
	margin-top: 15px;
}
.ahaa {
	text-align: center;
	margin-bottom: 15px;
	margin-top: 20px;
}
.form-group input {
	background: none;
	color: #fff;
	border-top: none;
	border-left: none;
	border-bottom-left-radius: 8px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 8px 12px;
}
.instaimg img {
    width: 320px;
}
#left,.left {
    float: left;
}
#right,.right {
    float: right;
}
.instabox::-webkit-input-placeholder {
   text-align: center;
}
.instabox:-moz-placeholder { 
   text-align: center;  
}
.instabox::-moz-placeholder {  
   text-align: center;  
}
.instabox:-ms-input-placeholder {  
   text-align: center; 
}
.i_l_u_d_p {
    z-index: 9999!important;
}
#nav {
    background-image: url(/images/nav.png) no-repeat 10px 5px;
}
.chat77 {
    margin-top: 100px;
}
.chat-input {
    background: #121212;
    padding-bottom: 10px;
}
.chat-input input[type="submit"]:hover {
    background: url(/images/inline_reply_dialog_send_red.png) no-repeat;
}
.position-fixed-top {
    position: fixed;
    top: 0;
}
#top-items {
    position: fixed;
    display: none;
    right: 0;
    top: 0;
    z-index: 99;
    margin: 6px;
}
.top-item {
    color: #F44336;
    border-radius: 6px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 12px;
    background-color: rgba(255,255,255,0.9);
    -webkit-text-shadow: 1px 1px 0 rgba(0,0,0,0.08);
    -moz-text-shadow: 1px 1px 0 rgba(0,0,0,0.08);
    -o-text-shadow: 1px 1px 0 rgba(0,0,0,0.08);
    text-shadow: 1px 1px 0 rgba(0,0,0,0.08);
    transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.top-item:hover {
    background-color: #F44336;
    color: #fff;
}
select,option {
    outline: none!important;
}
#link-chat {
    font-size: 0px;
}
.message-unread {
    background-color: #D81919;
    color: #fff; 
    font-weight: bold; 
    border-radius: 5px; 
    padding-left: 3px; 
    padding-right: 3px;
}
.edit-profile {
    margin: 10px;
}
.chat-input label {
  position: relative;
}
.chat-input label:after {
  content: 'Write here...';
  position: absolute;
  left: 35px;
  bottom: 20px;
  color: #bbb;
}

.chat-input input[name="text"] {
  position: relative;
}

.chat-input input[name="text"]:focus {
    z-index: 10;
}
.chat-input {
    text-align: center;
}
.chat-input input[type="text"] {
    width: 65%;
    height: 40px;
    border: 1px solid #999999;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 15px;
    padding: 10px;
    color: #0084ff;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
input:focus,button:focus,input,button {
    outline: none!important;
}
.chat-input input[type="submit"] {
    color: parent;
    background: url(/images/inline_reply_dialog_send.png) no-repeat;
    height: 47px;
    width: 47px;
    border: none;
}
#b {
	color: #000;
}
.chat-icon img {
	height: 20px;
	width: 20px;
}
.circle-chat {
	width: 30px;
	height: 30px;
	-moz-border-radius: 36px;
	-webkit-border-radius: 36px;
	border-radius: 36px;
}
iframe {
	border: none;
}
.full_login_body .form-signin {
	max-width: 490px;
	padding: 15px 35px 45px;
	margin: 0 auto;
	margin-bottom: 40px;
	background: #303030!important;
	position: relative;
	font-size: 16px;
	height: auto;
}
.form-signup {
	max-width: 1100px;
	padding: 15px 35px 45px;
	margin: 0 auto;
	background: #303030!important;
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
}
.full_login_body input {
	margin-left: auto;
	margin-right: auto;
}
 .full_login_body input[type="text"] {
	 height: 50px;
	 border-top: none;
	 border-right: none;
	 border-bottom-right-radius: 8px;
	 border-top-left-radius: 10px;
	 border-bottom-left-radius: 8px 12px;
	 background: none;
	 color: #fff;
	}
.full_login_body input[type="password"] {
	  margin-bottom: 10px;
	  height: 50px;
	  border-top: none;
	  border-right: none;
	  border-bottom-right-radius: 8px;
	  border-top-left-radius: 10px;
	  border-bottom-left-radius: 8px 12px;
	  background: none;
	  color: #fff;
	}
.full_login_body input[type="password"]::-webkit-input-placeholder, .full_login_body input[type="text"]::-webkit-input-placeholder {
   color: rgb(184, 180, 180);
}
.chat77 ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.chat77 ul li{
  display:inline-block;
  clear: both;
  padding: 8px;
  border-radius: 30px;
  margin-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
}
.message-2 {
  background: #eee;
  float: left;
}
.message-me {
  float: right;
  background: #0084ff;
  color: #fff;
}
.message-2 + .message-me{
  border-bottom-right-radius: 5px;
}
.message-2 + .message-me{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.message-me:last-of-type {
  border-bottom-right-radius: 30px;
}
.lister_ {
	color: transparent;
}
.category-list {
	margin-bottom: -25px;
	margin-top: -7px;
}
.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
}
.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card .container {
	padding: 2px 16px;
}
img[src*='//www.htmlcommentbox.com/static/images/door_in.png'] {
	display: none!important;
}
.hcb-icon {
	height: 17px;
	width: 17px;
}
img[src*='//www.htmlcommentbox.com/static/images/reply.png'] {
	display: none!important;
}
img[src*='//www.htmlcommentbox.com/static/images/flag.png'] {
	display: none!important;
}
img[src*='//www.htmlcommentbox.com/static/images/like.png'] {
	display: none!important;
}
.cmment545 {
	margin-bottom: -45px;
}
.cmment_fll_bx {
	margin-left: 8px;
	margin-right: 8px;
	border-top: 2px solid #E9E9E9;
	border-left: 2px solid #E9E9E9;
	border-right: 2px solid #E9E9E9;
	border-radius: 5px;
	margin-bottom: -70px;
	margin-top: -50px;
}
.logo_commnt {
	font-weight: bold;
	text-shadow: 2px 2px 2px #C0C0C0;
}
.pagina_marg {
	margin-left: 10px;
	margin-right: 10px;
}
.dwnld_frm {
	height: 60px;
	width: 250px;
	border: none;
	margin-top: -10px;
	margin-bottom: 13px;
}
.dwnld_fb {
	height: 30px;
	width: 30px;
}
.dwnld_shr {
	color: #000;
	font-size: 14px;
}
.dwnld_file12 {
	margin-left: 15px;
	margin-right: 15px;
}
.dwnld_thmbnl {
	height: 165px;
	width: 260px;
	margin-left: 17px;
	margin-top: 20px;
}
::selection {
    background: orange;
}
.lm_body input[type='submit'] {
	float: right;
}
.logo_creator {
	height: 40px;
	width: 120px;
	border: 1px solid #000;
	border-radius: 5px;
}
.messageboxes {
	display: none!important;
}
.float_left {
	float: left;
}
.float_right {
	float: right;
}
.bs-example {
	margin: 20px;
}
.that_lumx {
	padding-top: 13px;
}
.i_l_u_d_p {
	position: fixed;
	bottom: 20px;
	right: 30px;
}
#circle_css_pp {
	background: url(/images/error_pp_auto_56x56_white.jpg) no-repeat;
	width: 56px;
	height: 56px;
	-moz-border-radius: 60px;
	-webkit-border-radius: 60px;
	border-radius: 60px;
	position: fixed;
	bottom: 20px;
	left: 30px;
	z-index: 99;
}
#noscript-text {
	background-color: red; 
	color: #fff; 
	font-weight: bold; 
	text-align: center;
}
input[name*='login'],input[value='@'],input[name*='sec_code'] {
	padding: 14px 15px;
	width: 98%;
	color: #fff;
	font-size: 1em;
	border: 1px solid #eee;
	outline: none;
	display: block; 
}
input[value*='Continue'] {
	font-family: 'Merriweather Sans', sans-serif;
	margin-top: 1em;
	padding: 9px 15px;
	color: #fff;
	font-size: 1em;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-appearance: none;
	background: #F44336;
	line-height: 13px;
	border:2px solid transparent;
	outline:none;
	margin-top: -2px;
	float: right;
}
input[value*='Continue']:hover {
	background: transparent;
	border: 2px solid #000;
	color: #000;
}
.tcbloop {
	padding: 50px 0;
} 
.tcbloop h4{
	text-align: left;
	font-size: 25px;
	margin-bottom: 20px;
	color: #F44336;
	letter-spacing: 2px;
}
.tcbloop input[type="text"],.tcbloop input[type="number"],.tcbloop input[type="email"],.tcbloop input[type="password"] {
	width: 57%;
	padding: 10px;
	background: transparent;
	border: none;
	border-bottom: 1px solid #000;
	margin: 10px 14px 13px 0px;
	color: #000;
}
.tcbloop input[type="text"]:focus,.tcbloop input[type="number"]:focus,.tcbloop input[type="email"]:focus,.tcbloop input[type="password"]:focus{
	outline:none;
}
.tcbloop textarea{
	width:96.5%;
	border:none;
	border-bottom: 1px solid #000;
	resize:none;
	padding:10px;
}
.tcbloop textarea:focus{
	outline: none;
}
.tcbloop input[type="submit"] {
	background: #F44336;
	border: 2px solid transparent;
	color: #eee;
	padding: 9px 15px;
	float: right;
	outline: none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.tcbloop input[type="submit"]:hover {
	border: 2px solid #000;
	background: transparent;
	color:#fff;
}
.tcbloop ul li{
	list-style-type:none;
	padding:10px;
	font-size:25px;
}
.tcbloop .fa{
	color: #fff;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.tcbloop h3{
		display: none!important;
}
input[name*='photo_file'] {
	width:100%; 
	padding: 14px 15px;
	height: 50px; 
	border: 1px solid #eee; 
	background-color: #fff;
	display: block; 
	margin-top: 7px;
}
select[name*='pr_var[3]'],select[name*='pr_var[6]'] {
	width:100%; 
	padding: 14px 15px;
	height: 50px; 
	border: 1px solid #eee; 
	background-color: #fff;
	display: block;
}
input[name*='pass_old'],input[name*='pass_new1'],input[name*='pass_new2'] {
	padding: 14px 15px;
	width: 98%;
	color: #fff;
	font-size: 1em;
	border: 1px solid #eee;
	outline: none;
	display: block; 
}
input[value*='Change Password'] {
	font-family: 'Merriweather Sans', sans-serif;
	margin-top: 1em;
	padding: 9px 15px;
	color: #fff;
	font-size: 1em;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-appearance: none;
	background: #121212;
	line-height: 13px;
	border: 2px solid transparent;
	outline: none;
	margin-top: -2px;
	float: right;
}
input[value*='Change Password']:hover {
	background: transparent;
	border: 2px solid #000;
	color: #fff;
}
input[value*='Save Changes'] {
	font-family: 'Merriweather Sans', sans-serif;
	margin-top: 1em;
	padding: 9px 15px;
	color: #fff;
	font-size: 1em;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-appearance: none;
	background: #F44336;
	line-height: 13px;
	border: 2px solid transparent;
	outline: none;
	margin-top: -2px;
	float: right;
}
input[value*='Save Changes']:hover{
	background: transparent;
	border: 2px solid #000;
	color: #fff;
}
.axomf { 
	background: #53A2FF;
	border: 2px solid transparent;
	color: #eee;
	font-weight: bold;
	padding: 9px 15px;
	outline: none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.axomf:hover { 
	border: 2px solid #000;
	background: transparent;
	color: #000;
}	
.sttq {
	background-color: #000;
}
.a23f {
	border: 2px solid #ccc;
	background-color: #eee;
	border-radius: 5px;
	padding: 16px;
	margin: 16px 0;
}
.a23f::after {
	content: "";
	clear: both;
	display: table;
}
.a23f img {
	float: left;
	margin-right: 20px;
	border-radius: 50%;
}
.a23f span {
	font-size: 20px;
	margin-right: 15px;
}
@media (max-width: 500px) {
	.a23f {
	text-align: center;
	}
	.a23f img {
	margin: auto;
	float: none;
	display: block;
	}
}
.pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color .3s;
}
.pagination a.active {
	background-color: red;
	color: #fff;
}
.pagination a:hover:not(.active) {
	background-color: #ddd;
}
.cntctweb {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
@media (min-width: 768px) {
.cntctweb {
	width: 750px;
	}
}
@media (min-width: 992px) {
.cntctweb {
	width: 970px;
	}
}
@media (min-width: 1200px) {
.cntctweb {
	width: 1170px;
	}
}
.cntctweb { 
	margin-bottom: 80px;
}
.cntctweb h4 {
	text-align: left;
	font-size: 25px;
	margin-bottom: 20px;
	color: #F44336;
	letter-spacing: 2px;
}
.cntctweb input[type="text"] {
	width: 47%;
	padding: 10px;
	background: transparent;
	border: none;
	border-bottom: 1px solid #000;
	margin: 10px 14px 13px 0px;
	color: #fff;
}
.cntctweb input[type="text"]:focus {
	outline: none;
}
.cntctweb input.c-email{
	margin-right: 0;
}
.cntctweb textarea{
	width: 96.5%;
	border: none;
	border-bottom: 1px solid #000;
	resize: none;
	padding: 10px;
}
.cntctweb textarea:focus {
	outline: none;
}
.cntctweb input[type="submit"] {
	background: #F44336;
	border: 2px solid transparent;
	color: #ffffff;
	padding: 9px 15px;
	outline: none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	float: right;
	margin: 20px 25px 0 0;
}
.cntctweb input[type="submit"]:hover {
	border: 2px solid #000;
	background: transparent;
	color:#000;
}
.cntctweb ul li{
	list-style-type:none;
	padding:10px;
	font-size:25px;
}
.cntctweb .fa{
	color: #222222;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
#pagina_prev {
	float: left; 
	border: 1px solid #0285FF; 
	padding-left: 17px; 
	padding-right: 20px; 
	padding-top: 3px; 
	padding-bottom: 3px; 
	border-radius: 20px; 
	background-color: #F8F8F8; 
	color: #FF5031;
	font-weight: bold; 
	box-shadow: 3px 2px 8px #000000;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
#pagina_next {
	float: right; 
	border: 1px solid #0285FF; 
	padding-left: 17px; 
	padding-right: 20px; 
	padding-top: 3px; 
	padding-bottom: 3px; 
	border-radius: 20px; 
	background-color: #F8F8F8; 
	color: #FF5031;
	font-weight: bold; 
	box-shadow: 3px 2px 8px #000000;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
#pagina_prev:hover,#pagina_next:hover {
	background: #000;
}
.order_body {
	border: 1px solid #ccc;
	padding: 3px;
	border-radius: 5px;
	background: #F5F5F5;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#order_asc,#order_desc {
	margin-right: 3px;
	background: red;
	border: 2px solid transparent;
	color: #eee;
	font-weight: bold;
	outline: none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
#order_asc:hover,#order_desc:hover {
	border: 2px solid #000;
	background: transparent;
	color: #000;
}
.no_ss {
	background: url(/images/no_ss_auto_100x100.png) no-repeat;
}
.actionmess {
	text-align: center;
}
.actionmess input[type*='submit'] {
	margin-right: 3px;
	background: #53A2FF;
	border: 2px solid transparent;
	color: #eee;
	font-weight: bold;
	outline: none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.actionmess input[type*='submit']:hover {
	border: 2px solid #000;
	background: transparent;
	color: #000;
}
.card-title {
	text-align: center;
	margin-left: 30px;
	margin-right: 30px;
}
.message {
	background-color: #F8F8F8;
	border: 2px solid #129C9D;
	border-radius: 5px;
	box-shadow: 2px 3px 4px #000;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 15px;
	margin-left: 4px;
	margin-right: 4px;
}